<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="shortcut icon" href="#">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="/scripts/language.js"></script>
  
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li><a class="nav-link" id = "networkNav" href="network">Network</a></li>
          <li><a class="nav-link" id = "operationNav" href="operation">Operation</a></li>
        </ul>
          
        <ul class = "navbar-nav ml-auto">
          <li class = "nav-item dropdown">
            <a class = "nav-link dropdown-toggle" href="#" id="languageDropdown" data-bs-toggle="dropdown" role = "button"  aria-haspopup = "true" aria-expanded = "false">
              Language
            </a>
            <ul class = "dropdown-menu" aria-labelledby="languageDropdown">
              <li><a class = "dropdown-item" data-language = "en" href="#">English</a></li>
              <li><a class = "dropdown-item" data-language = "kr" href="#">한국어</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class = "container d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle">
    <div class = "row">
      <div class = "col text-center">
        <h1 class = "display-1 fw-bold "><strong>500</strong></h1>
        <p class="fs-3" id = "errormsg1">Internal Server Error</p>
        <p class = "py-3" id = "errormsg2">The server failed to load your request. Please try again later.</p>
        <a href="network" class=" mx-4 btn btn-primary btn-lg" role = "button" id = "errorNetwork">Network</a>
        <a href="operation" class=" mx-4 btn btn-primary btn-lg" role = "button" id = "errorOperation">Operation</a>
      </div>
    </div>
  </div>
  <script src="/scripts/displaySelected.js"></script>
  <script>
    let siteTitle = document.querySelector("title");
    let errormsg1 = document.querySelector("#errormsg1");
    let errormsg2 = document.querySelector("#errormsg2");
    let errorNetwork = document.querySelector("#errorNetwork");
    let errorOperation = document.querySelector("#errorOperation");
    if (currentLang === "kr") {
      siteTitle.textContent = "오류";
      errormsg1.textContent = "내부 서버 오류";
      errormsg2.textContent = "서버에서 요청을 불러오지 못했습니다. 나중에 다시 시도하십시오.";
      errorNetwork.textContent = "네트워크";
      errorOperation.textContent = "오퍼레이션";
    }
  </script>  
</body>
</html>