<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="index.html">Home</a>
          <a class="nav-link" href="network.html">Network</a>
          <a class="nav-link" href="operation.html">Operation</a>
        </div>
      </div>
    </div>
  </nav>
  <div class = "text-center py-5 justify-content-center">
    <h1 class = "display-1">Error</h1>
    <h2>{{.errorMessage}}</h2>
    <a href="index.html" class="btn btn-primary btn-lg" role = "button">Go to home</a>
</body>
</html>