<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AP Configuration</title>
</head>
<body>
  <h1>AP Configuration</h1>
  <div>Full YAML: {{.YAMLData}}</div>
  <ul>
    <li>siteId: {{.YAMLData.SiteId}}</li>
    <li>siteCode: {{.YAMLData.SiteCode}}</li>
    <li>storeCode: {{.YAMLData.StoreCode}}</li>
    <li>ip: {{.YAMLData.Ip}}</li>
    <li>defaultGwIp: {{.YAMLData.DefaultGwIP}}</li>
    <li>netmask: {{.YAMLData.Netmask}}</li>
    <li>nameServers: {{.YAMLData.NameServers}}</li>
    <li>timeZone: {{.YAMLData.TimeZone}}</li>
    <li>timeServerUrls: {{.YAMLData.TimeServerUrls}}</li>
    <li>apBrokerUrl: {{.YAMLData.ApBrokerUrl}}</li>
    <li>interApPort: {{.YAMLData.InterApPort}}</li>
    <li>interApPortTarget: {{.YAMLData.InterApPortTarget}}</li>
    <li>ethernetInterface: {{.YAMLData.EthernetInterface}}</li>
  </ul>
  <form method="POST" action="/">
    {{range $name, $value := .YAMLData}}
      <div>
        <label for = "{{$name}}">{{$name}}</label>
        {{if eq $name "SiteCode" }}
        <!-- accept numbers only -->
          <input type = "number" id = "{{$name}}" value = {{$value}} min = "0" max = "4294967295" step = "1" required>
        {{else if or (eq $name "TimeServerUrls") (eq $name "NameServers")}}
        <!-- accept comma separated lists only -->
          <input type = "text" id = "{{$name}}" value = {{$value}} pattern = "^\[\s*[\w\d]+\s*(?:,\s*[\w\d]+\s*)*\]" title = "Please enter a comma seperated list, example: [4, 2, 0]"  required>
        {{else}}
        <!-- accept all strings -->
          <input type = "text" id = "{{$name}}" value = {{$value}} required>
        {{end}}
      </div>
    {{end}}
    <div>
      <button type = "submit">Save</button>
    </div>
  </form>
</body>
</html>