<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AP Configuration</title>
</head>
<body>
  <h1>AP Configuration</h1>
  <ul>
    <li>siteId: {{.SiteId}}</li>
    <li>siteCode: {{.SiteCode}}</li>
    <li>storeCode: {{.StoreCode}}</li>
    <li>ip: {{.Ip}}</li>
    <li>defaultGwIp: {{.DefaultGwIP}}</li>
    <li>netmask: {{.Netmask}}</li>
    <li>nameServers: {{.NameServers}}</li>
    <li>timeZone: {{.TimeZone}}</li>
    <li>timeServerUrls: {{.TimeServerUrls}}</li>
    <li>apBrokerUrl: {{.ApBrokerUrl}}</li>
    <li>interApPort: {{.InterApPort}}</li>
    <li>interApPortTarget: {{.InterApPortTarget}}</li>
    <li>ethernetInterface: {{.EthernetInterface}}</li>
  </ul>
</body>
</html>