<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AP Configuration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <div class = "container row-gap-3">
    <div class = "row container">
      <h1>AP Configuration</h1>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <div class = "row container"> Full YAML: {{.YAMLData}}</div>
    <ul class = "row container">
      <li>siteId: {{.YAMLData.SiteId}}</li>
      <li>siteCode: {{.YAMLData.SiteCode}}</li>
      <li>storeCode: {{.YAMLData.StoreCode}}</li>
      <li>ip: {{.YAMLData.Ip}}</li>
      <li>defaultGwIp: {{.YAMLData.DefaultGwIP}}</li>
      <li>netmask: {{.YAMLData.Netmask}}</li>
      <li>nameServers: {{.YAMLData.NameServers}}</li>
      <li>timeZone: {{.YAMLData.TimeZone}}</li>
      <li>timeServerUrls: {{.YAMLData.TimeServerUrls}}</li>
      <li>apBrokerUrl: {{.YAMLData.ApBrokerUrl}}</li>
      <li>interApPort: {{.YAMLData.InterApPort}}</li>
      <li>interApPortTarget: {{.YAMLData.InterApPortTarget}}</li>
      <li>ethernetInterface: {{.YAMLData.EthernetInterface}}</li>
    </ul>
    <form method="POST" action="/" class = "row container overflow-auto justify-content-md-center" >
      <div class = "row row-gap-3 gy-5">
        {{range $name, $value := .YAMLData}}
          <div class = "col-6 container ">
            <label class = "form-label" for = "{{$name}}">{{$name}}</label>
            {{if eq $name "SiteCode" }}
            <!-- accept numbers only -->
              <input class = "form-control" type = "number" name = "{{$name}}" id = "{{$name}}" value = {{$value}} 
              min = "0" max = "4294967295" step = "1" required>
            {{else if or (eq $name "TimeServerUrls") (eq $name "NameServers")}}
            <!-- accept comma separated lists only -->
              <input class = "form-control"type = "text" name = "{{$name}}" id = "{{$name}}" value = {{$value}} 
              pattern = "^\[\s*[\w\d.]+(?:\s+[\w\d.]+)*\s*\]$" 
              title = "Please enter a space seperated list, example: [4 2 0]"  required>
            {{else}}
            <!-- accept all strings -->
              <input class = "form-control"type = "text" name = "{{$name}}" id = "{{$name}}" value = {{$value}} required>
            {{end}}
          </div>
        {{end}}
        <div class = "row container">
          <button type = "submit" class = "btn btn-primary">Save</button>
        </div>
      </div>

    </form>  
  </div>

</body>
</html>